<!--
 * @Author: fuzhenghao
 * @Date: 2021-10-29 10:02:32
 * @LastEditTime: 2021-10-29 10:21:59
 * @LastEditors: fuzhenghao
 * @Description: 
 * @FilePath: \myBlog_manage\src\pages\document.ejs
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <style>
    #root {
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>